<div class="h-20 p-4 flex justify-center items-center">
  <div class="w-full max-w-xl justify-between items-center">
    <!-- Envuelve tu contenido en un div adicional -->
    <app-status-bar></app-status-bar>
  </div>
</div>

<div class="bg-white w-full h-full flex flex-col md:flex-row justify-around ">
  <div class="bg-white w-full md:w-2/4 p-4">
    <p class="text-xl font-semibold text-center">Productos Cargados al carrito</p>

    <!-- Producto en el carrito -->
    <div *ngFor="let item of items" class="bg-white rounded-lg p-4 mb-4 flex items-center">
      <img src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jp" onerror="this.src='storeEpon/src/assets/photo.svg'" class="w-16 h-16 mr-4" />
      <div class="flex-1">
        <p class="text-gray-600">{{item}}</p>
        <div class="flex items-center mt-2">
          <div class="flex">
            <button class=" flex  items-center justify-center bg-[#549675] rounded-full hover:bg-[#0b5539] border border-transparent  w-7  text-base font-medium text-white  focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">-</button>
            <label class="p-2">1</label>
            <button class=" flex items-center justify-center bg-[#549675] rounded-full hover:bg-[#0b5539] border border-transparent  w-7 text-base font-medium text-white  focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">+</button>
        </div>
        </div>
      </div>
      <div class="font-semibold text-gray-800 mr-10" >{{item}}</div>
      <svg class="cursor-pointer w-[21px] h-[21px]  text-gray-500 hover:text-gray-800 pointer dark:text-white  ml-6 p-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"  d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
      </svg>
    </div>


    <!--producto 2 cargado en el carro-->
    <div class="bg-white rounded-lg p-4 mb-4 flex items-center">
      <img src="ruta-de-la-imagen.jpg" class="w-16 h-16 mr-4" />
      <div class="flex-1">
        <h2 class="text-lg font-semibold">Nombre del Producto</h2>
        <p class="text-gray-600">Descripción del producto.</p>
        <div class="flex items-center mt-2">
          <div class="flex">
            <button class=" flex  items-center justify-center bg-[#549675] rounded-full hover:bg-[#0b5539] border border-transparent  w-7  text-base font-medium text-white  focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">-</button>
            <label class="p-2">1</label>
            <button class=" flex items-center justify-center bg-[#549675] rounded-full hover:bg-[#0b5539] border border-transparent  w-7 text-base font-medium text-white  focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">+</button>
        </div>
        </div>
      </div>
      <div class="font-semibold text-gray-800 mr-10" >Q 10.00</div>
      <svg class="cursor-pointer w-[21px] h-[21px]  text-gray-500 hover:text-gray-800 pointer dark:text-white  ml-6 p-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"  d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
      </svg>
    </div>
    <hr/>
       <!--producto 2 cargado en el carro-->
       <div class="bg-white rounded-lg p-4 mb-4 flex items-center">
        <img src="ruta-de-la-imagen.jpg" class="w-16 h-16 mr-4" />
        <div class="flex-1">
          <h2 class="text-lg font-semibold">Nombre del Producto</h2>
          <p class="text-gray-600">Descripción del producto.</p>
          <div class="flex items-center mt-2">
            <div class="flex">
              <button class=" flex  items-center justify-center bg-[#549675] rounded-full hover:bg-[#0b5539] border border-transparent  w-7  text-base font-medium text-white  focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">-</button>
              <label class="p-2">1</label>
              <button class=" flex items-center justify-center bg-[#549675] rounded-full hover:bg-[#0b5539] border border-transparent  w-7 text-base font-medium text-white  focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">+</button>
          </div>
          </div>
        </div>
        <div class="font-semibold text-gray-800 mr-10" >Q 10.00</div>
        <svg class="cursor-pointer w-[21px] h-[21px]  text-gray-500 hover:text-gray-800 pointer dark:text-white  ml-6 p-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"  d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
      </div>
      <hr />
         <!--producto 2 cargado en el carro-->
         <div class="bg-white rounded-lg p-4 mb-4 flex items-center">
          <img src="ruta-de-la-imagen.jpg" class="w-16 h-16 mr-4" />
          <div class="flex-1">
            <h2 class="text-lg font-semibold">Nombre del Producto</h2>
            <p class="text-gray-600">Descripción del producto.</p>
            <div class="flex items-center mt-2">
              <div class="flex">
                <button class=" flex  items-center justify-center bg-[#549675] rounded-full hover:bg-[#0b5539] border border-transparent  w-7  text-base font-medium text-white  focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">+</button>
                <label class="p-2">1</label>
                <button class=" flex items-center justify-center bg-[#549675] rounded-full hover:bg-[#0b5539] border border-transparent  w-7 text-base font-medium text-white  focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">-</button>
            </div>
            </div>
          </div>
          <div class="font-semibold text-gray-800 mr-10" >Q 10.00</div>
          <svg class="cursor-pointer w-[21px] h-[21px]  text-gray-500 hover:text-gray-800 pointer dark:text-white  ml-6 p-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"  d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
        </div>
  </div>
  <hr />
  <!-- Tabla de resumen -->
  <div class="bg-gray-200 w-full md:w-1/4 rounded-lg flex flex-col justify-between p-4 h-60">
    <p class="text-lg font-semibold text-center">RESUMEN</p>
    <div class="flex justify-between mt-4">
      <div>
        <p class="font-semibold text-lg">Subtotal</p>
        <p class="font-semibold text-lg">Descuentos</p>
        <p class="font-semibold text-lg">Total</p>
      </div>
      <div>
        <div class="font-semibold text-lg">Q 10.00</div>
        <div class="font-semibold text-lg">Q 00.00</div>
        <div class="font-semibold text-lg">Q 10.00</div>
      </div>
    </div>
    <button (click)="shoppingCartService.addStep()" routerLink="checkout" type="submit" class="mt-6 mb-4flex w-full  items-center justify-center bg-[#549675] rounded-lg hover:bg-[#0b5539] border border-transparent  px-8 py-3 text-base font-medium text-white  focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
      Siguiente</button>
  </div>
</div>

