<div class="flex">
  <div>
    <sidebar-component />
  </div>

  <div class="mx-auto w-full">
    <div class="flex flex-wrap gap-3 justify-center p-5">
      <div
        class="w-80 bg-white hover:border hover:drop-shadow-lg dark:bg-gray-800 dark:border-gray-700 flex flex-wrap justify-center p-2">
        <a href="#" class="text-center" data-modal-target="authentication-modal"
          data-modal-toggle="authentication-modal">
          <h5 class="mb-2 text-1xl font-bold tracking-tight text-gray-900 dark:text-white">
            Noteworthy technology acquisitions 2021
          </h5>
        </a>
        <a href="#">
          <img class="h-80" src="../../../assets/demo.jpg" alt="" data-modal-target="authentication-modal"
            data-modal-toggle="authentication-modal" />
        </a>
        <div class="p-5" data-modal-target="authentication-modal" data-modal-toggle="authentication-modal">
          <div class="flex flex-wrap justify-center">
            <p class="mb-3 font-normal text-[#0b5539] dark:text-gray-400">
              Q 1,500.00
            </p>
          </div>

          <a href="#"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-[#549675] rounded-lg hover:bg-[#0b5539] focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Agregar al carrito

            <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 19 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.4"
                d="M6 15a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0h8m-8 0-1-4m9 4a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm1-4H5m0 0L3 4m0 0h5.501M3 4l-.792-3H1m11 3h6m-3 3V1" />
            </svg>
          </a>
        </div>
      </div>
      <div
        class="w-80 bg-white hover:border hover:drop-shadow-lg dark:bg-gray-800 dark:border-gray-700 flex flex-wrap justify-center p-2">
        <a href="#" class="text-center" data-modal-target="authentication-modal"
          data-modal-toggle="authentication-modal">
          <h5 class="mb-2 text-1xl font-bold tracking-tight text-gray-900 dark:text-white">
            Noteworthy technology acquisitions 2021
          </h5>
        </a>
        <a href="#">
          <img class="h-80" src="../../../assets/demo.jpg" alt="" data-modal-target="authentication-modal"
            data-modal-toggle="authentication-modal" />
        </a>
        <div class="p-5" data-modal-target="authentication-modal" data-modal-toggle="authentication-modal">
          <div class="flex flex-wrap justify-center">
            <p class="mb-3 font-normal text-[#0b5539] dark:text-gray-400">
              Q 1,500.00
            </p>
          </div>

          <a href="#"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-[#549675] rounded-lg hover:bg-[#0b5539] focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Agregar al carrito

            <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 19 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.4"
                d="M6 15a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0h8m-8 0-1-4m9 4a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm1-4H5m0 0L3 4m0 0h5.501M3 4l-.792-3H1m11 3h6m-3 3V1" />
            </svg>
          </a>
        </div>
      </div>
      <div
        class="w-80 bg-white hover:border hover:drop-shadow-lg dark:bg-gray-800 dark:border-gray-700 flex flex-wrap justify-center p-2">
        <a href="#" class="text-center" data-modal-target="authentication-modal"
          data-modal-toggle="authentication-modal">
          <h5 class="mb-2 text-1xl font-bold tracking-tight text-gray-900 dark:text-white">
            Noteworthy technology acquisitions 2021
          </h5>
        </a>
        <a href="#">
          <img class="h-80" src="../../../assets/demo.jpg" alt="" data-modal-target="authentication-modal"
            data-modal-toggle="authentication-modal" />
        </a>
        <div class="p-5" data-modal-target="authentication-modal" data-modal-toggle="authentication-modal">
          <div class="flex flex-wrap justify-center">
            <p class="mb-3 font-normal text-[#0b5539] dark:text-gray-400">
              Q 1,500.00
            </p>
          </div>

          <a href="#"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-[#549675] rounded-lg hover:bg-[#0b5539] focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Agregar al carrito

            <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 19 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.4"
                d="M6 15a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0h8m-8 0-1-4m9 4a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm1-4H5m0 0L3 4m0 0h5.501M3 4l-.792-3H1m11 3h6m-3 3V1" />
            </svg>
          </a>
        </div>
      </div>
      <div
        class="w-80 bg-white hover:border hover:drop-shadow-lg dark:bg-gray-800 dark:border-gray-700 flex flex-wrap justify-center p-2">
        <a href="#" class="text-center" data-modal-target="authentication-modal"
          data-modal-toggle="authentication-modal">
          <h5 class="mb-2 text-1xl font-bold tracking-tight text-gray-900 dark:text-white">
            Noteworthy technology acquisitions 2021
          </h5>
        </a>
        <a href="#">
          <img class="h-80" src="../../../assets/demo.jpg" alt="" data-modal-target="authentication-modal"
            data-modal-toggle="authentication-modal" />
        </a>
        <div class="p-5" data-modal-target="authentication-modal" data-modal-toggle="authentication-modal">
          <div class="flex flex-wrap justify-center">
            <p class="mb-3 font-normal text-[#0b5539] dark:text-gray-400">
              Q 1,500.00
            </p>
          </div>

          <a href="#"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-[#549675] rounded-lg hover:bg-[#0b5539] focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Agregar al carrito

            <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 19 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.4"
                d="M6 15a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0h8m-8 0-1-4m9 4a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm1-4H5m0 0L3 4m0 0h5.501M3 4l-.792-3H1m11 3h6m-3 3V1" />
            </svg>
          </a>
        </div>
      </div>
      <div
        class="w-80 bg-white hover:border hover:drop-shadow-lg dark:bg-gray-800 dark:border-gray-700 flex flex-wrap justify-center p-2">
        <a href="#" class="text-center" data-modal-target="authentication-modal"
          data-modal-toggle="authentication-modal">
          <h5 class="mb-2 text-1xl font-bold tracking-tight text-gray-900 dark:text-white">
            Noteworthy technology acquisitions 2021
          </h5>
        </a>
        <a href="#">
          <img class="h-80" src="../../../assets/demo.jpg" alt="" data-modal-target="authentication-modal"
            data-modal-toggle="authentication-modal" />
        </a>
        <div class="p-5" data-modal-target="authentication-modal" data-modal-toggle="authentication-modal">
          <div class="flex flex-wrap justify-center">
            <p class="mb-3 font-normal text-[#0b5539] dark:text-gray-400">
              Q 1,500.00
            </p>
          </div>

          <a href="#"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-[#549675] rounded-lg hover:bg-[#0b5539] focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Agregar al carrito

            <svg class="w-3.5 h-3.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 19 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2.4"
                d="M6 15a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0h8m-8 0-1-4m9 4a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm1-4H5m0 0L3 4m0 0h5.501M3 4l-.792-3H1m11 3h6m-3 3V1" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Main modal -->
<div id="authentication-modal" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)]">
<div>
  <product-component></product-component>
</div>
</div>

